/* Pagina Contatos*/
/* #titulo-contatos{
    text-align: center;
    font-size: 1.17em;
}

.contatos-info, .contatos-lista li{
    display: flex;
    flex-direction: column;
}

.titulo-mapa{
    text-align: start;
    margin: 20px 0px 0px 60px;
}
.contatos-info .mapa img{
    width: 400px;
    height: 400px;
    margin: 0px 0px 50px 50px;
} */


/*Rodapé*/