body{
    background-color: rgba(56, 56, 56, 0.1);
    color: white;
    font-family: poppinsregular;
    max-width: 1300px;
    max-height: 768px;
    margin: 0 auto;
    padding: 5px;
}

.redes, .imagens{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0px 20px 10px 0px;
    
}
.redes .imagens, #facebook, #instagram{
    width: 30px;
    height: 30px;
    margin: 5px;
}

#facebook:hover, #instagram:hover{
    border-radius: 15px;
    background-color: #fff;
    transition: 0.1s all;
    transform: scale(1.1);
}

header>.logo{
    background-color: rgb(3, 3, 3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #B8860B;
    padding: 5px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: #B8860B;
    transition: 0.3s all;
}

.deusa_grega img{
    position: absolute;
    width: 350px;
    height: 400px;
}

.deusa_grega img{
    top: 162px;
    right: 180px;
}

.caixa_principal{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}

header>#titulo_caixa1{
    background-color: aquamarine;
    line-height: 1.2;
    margin: 0;
    
    font-size: 25px;
}

.caixa_1, p#paragrafo1{
    width: 70%;
    background-color: blue;
    color: rgb(0, 0, 0);
    text-align: justify;
    font-size: 15px;
    line-height: 1.1;
    margin: 0;
}

.caixa_1, p#paragrafo2{
    width: 70%;
    background-color: blue;
    color: rgb(0, 0, 0);
    text-align: justify;
    font-size: 15px;
}

.caixa_1{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 75%;
    height: 390px;
}


.caixa_2{
    background-color: rgb(128,128,0);
    width: 25%;
    height: 390px;
}

#title{
    flex-direction: column;
    line-height: 10px;
    text-transform: uppercase;
    margin: 0px 0px 0px 20px;
}
